
.green-background {
  background-color: lightgreen;
}

.yellow-background {
  background-color: lightyellow;
}

.default-background {
  background-color: rgba(0,80,80,0.2);
}

.jumbotron {
  text-align: center;
}

.row img {
  opacity: 1.0;
  width: 100%;
}

.col-xs-3 {
  padding: 0px;
}

#leftImg {
  position:relative;
  right: -15px;
}

#rightImg {
  position:relative;
  left: -15px;
}

input {
  margin-bottom: 15px;
}

.output-area {
  display: none;
}

#out-list {
  list-style-type: none;
}

li {
  /* this option prevents html from ignoring whitespace in strings
  ... such as the ones output from 'masterArray'*/
  white-space: pre;
}
